<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito|Nunito:bold|Nunito:extrabold">
<style>
* { font-family: 'Nunito'; }

body { background-image: url('images/background.svg') }

.nav-brand, .article_title {font-family: 'Nunito'; font-weight: bold;}
.post_nav, .nav_bar-wrap, .post_date, .nav-menu {display: none;}
.article { background-color: white;}

#upcoming-events-feed {
  background-color: transparent;
  box-shadow: none;
}

@media (max-width:500px)  { 
  #upcoming-events-feed {
    height: 480px!important;
  }

  #upcoming-events-feed > iframe {
    width: 360px!important;
  }
}
</style>