{
  "openapi": "3.1.0",
  "info": {
    "title": "Tampa.dev Platform API",
    "version": "2026-01-25",
    "description": "The Tampa.dev Platform API provides authenticated access to community data including user profiles, events, groups, badges, and more. Authenticate with Personal Access Tokens (PATs) or OAuth 2.0 bearer tokens. All authenticated endpoints are under `/v1/`.",
    "contact": {
      "name": "Tampa.dev",
      "url": "https://tampa.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.tampa.dev",
      "description": "Production"
    },
    {
      "url": "https://events.api.tampa.dev",
      "description": "Production (legacy)"
    },
    {
      "url": "http://localhost:8787",
      "description": "Development"
    }
  ],
  "security": [
    {
      "BearerToken": []
    }
  ],
  "tags": [
    {
      "name": "User",
      "description": "User identity and profile management"
    },
    {
      "name": "Events",
      "description": "Event discovery, RSVP, and check-in"
    },
    {
      "name": "Groups",
      "description": "Group discovery and favorites"
    },
    {
      "name": "Follows",
      "description": "User follow relationships"
    },
    {
      "name": "Claims",
      "description": "Badge claim links"
    },
    {
      "name": "Scopes",
      "description": "OAuth scope discovery"
    },
    {
      "name": "Admin",
      "description": "Platform administration (admin role required)"
    },
    {
      "name": "Management",
      "description": "Group management (group role required)"
    },
    {
      "name": "Public",
      "description": "Public endpoints (no authentication required)"
    },
    {
      "name": "MCP",
      "description": "Model Context Protocol (JSON-RPC 2.0) endpoint for AI agents and automation tools"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Personal Access Token (td_pat_...) or OAuth 2.0 access token. Create PATs at https://tampa.dev/developer. OAuth tokens are obtained via the /oauth/authorize flow."
      }
    },
    "schemas": {
      "McpError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "error",
          "code"
        ]
      },
      "UserBasic": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "avatarUrl": {
            "type": "string",
            "nullable": true
          },
          "username": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "avatarUrl",
          "username"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "code": {
            "type": "string",
            "description": "Machine-readable error code"
          }
        },
        "required": [
          "error",
          "code"
        ]
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "username": {
            "type": "string",
            "nullable": true
          },
          "avatarUrl": {
            "type": "string",
            "nullable": true
          },
          "heroImageUrl": {
            "type": "string",
            "nullable": true
          },
          "themeColor": {
            "type": "string",
            "nullable": true
          },
          "bio": {
            "type": "string",
            "nullable": true
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "socialLinks": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "role": {
            "type": "string"
          },
          "profileVisibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ]
          },
          "showAchievements": {
            "type": "boolean",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "username",
          "avatarUrl",
          "heroImageUrl",
          "themeColor",
          "bio",
          "location",
          "socialLinks",
          "role",
          "profileVisibility",
          "showAchievements",
          "createdAt"
        ]
      },
      "UpdateProfileRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "avatarUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri"
          },
          "heroImageUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri"
          },
          "themeColor": {
            "type": "string",
            "nullable": true,
            "enum": [
              "coral",
              "ocean",
              "sunset",
              "forest",
              "violet",
              "rose",
              "slate",
              "sky"
            ]
          },
          "username": {
            "type": "string",
            "minLength": 3,
            "maxLength": 30,
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          "bio": {
            "type": "string",
            "nullable": true,
            "maxLength": 500
          },
          "location": {
            "type": "string",
            "nullable": true,
            "maxLength": 100
          },
          "socialLinks": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string",
              "format": "uri"
            },
            "maxItems": 5
          },
          "showAchievements": {
            "type": "boolean"
          },
          "profileVisibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ]
          }
        }
      },
      "LinkedAccount": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string"
          },
          "providerUsername": {
            "type": "string",
            "nullable": true
          },
          "providerEmail": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "provider",
          "providerUsername",
          "providerEmail",
          "createdAt"
        ]
      },
      "PortfolioItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "imageUrl": {
            "type": "string",
            "nullable": true
          },
          "sortOrder": {
            "type": "number"
          },
          "createdAt": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "userId",
          "title",
          "description",
          "url",
          "imageUrl",
          "sortOrder",
          "createdAt"
        ]
      },
      "PortfolioItemRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 500
          },
          "url": {
            "type": "string",
            "nullable": true,
            "format": "uri"
          },
          "imageUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri"
          },
          "sortOrder": {
            "type": "integer",
            "minimum": 0,
            "default": 0
          }
        },
        "required": [
          "title"
        ]
      },
      "PortfolioItemUpdateRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 500
          },
          "url": {
            "type": "string",
            "nullable": true,
            "format": "uri"
          },
          "imageUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri"
          },
          "sortOrder": {
            "type": "integer",
            "minimum": 0,
            "default": 0
          }
        }
      },
      "AchievementProgress": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "icon": {
            "type": "string",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "targetValue": {
            "type": "number"
          },
          "currentValue": {
            "type": "number"
          },
          "completedAt": {
            "type": "string",
            "nullable": true
          },
          "badgeSlug": {
            "type": "string",
            "nullable": true
          },
          "hidden": {
            "type": "boolean"
          }
        },
        "required": [
          "key",
          "name",
          "description",
          "icon",
          "color",
          "targetValue",
          "currentValue",
          "completedAt",
          "badgeSlug",
          "hidden"
        ]
      },
      "Token": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "tokenPrefix": {
            "type": "string"
          },
          "scopes": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "nullable": true
          },
          "lastUsedAt": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "name",
          "tokenPrefix",
          "scopes",
          "expiresAt",
          "createdAt",
          "lastUsedAt"
        ]
      },
      "TokenCreated": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "token": {
            "type": "string",
            "description": "Full token value. Store securely — it cannot be retrieved again."
          },
          "tokenPrefix": {
            "type": "string"
          },
          "scopes": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "name",
          "token",
          "tokenPrefix",
          "scopes",
          "expiresAt",
          "createdAt"
        ]
      },
      "CreateTokenRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Human-readable name for the token"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "OAuth scopes to grant to this token"
          },
          "expiresInDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 365,
            "description": "Token expiry in days (1-365, default: no expiry)"
          }
        },
        "required": [
          "name",
          "scopes"
        ]
      },
      "EventListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "startTime": {
            "type": "string"
          },
          "endTime": {
            "type": "string",
            "nullable": true
          },
          "timezone": {
            "type": "string",
            "nullable": true
          },
          "eventUrl": {
            "type": "string",
            "nullable": true
          },
          "photoUrl": {
            "type": "string",
            "nullable": true
          },
          "eventType": {
            "type": "string",
            "nullable": true
          },
          "rsvpCount": {
            "type": "number",
            "nullable": true
          },
          "maxAttendees": {
            "type": "number",
            "nullable": true
          },
          "group": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "urlname": {
                "type": "string",
                "nullable": true
              }
            },
            "required": [
              "id",
              "name",
              "urlname"
            ]
          }
        },
        "required": [
          "id",
          "title",
          "description",
          "startTime",
          "endTime",
          "timezone",
          "eventUrl",
          "photoUrl",
          "eventType",
          "rsvpCount",
          "maxAttendees",
          "group"
        ]
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number",
            "description": "Total number of items (may be absent if count is expensive)"
          },
          "limit": {
            "type": "number",
            "description": "Maximum items per page"
          },
          "offset": {
            "type": "number",
            "description": "Number of items skipped"
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether more items exist beyond this page"
          }
        },
        "required": [
          "limit",
          "offset",
          "hasMore"
        ]
      },
      "Rsvp": {
        "type": "object",
        "nullable": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "eventId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "confirmed",
              "waitlisted",
              "cancelled"
            ]
          },
          "rsvpAt": {
            "type": "string",
            "nullable": true
          },
          "waitlistPosition": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "id",
          "eventId",
          "status",
          "rsvpAt",
          "waitlistPosition"
        ]
      },
      "RsvpStatusResponse": {
        "type": "object",
        "properties": {
          "rsvp": {
            "$ref": "#/components/schemas/Rsvp"
          }
        },
        "required": [
          "rsvp"
        ]
      },
      "RsvpSummary": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number"
          },
          "confirmed": {
            "type": "number"
          },
          "waitlisted": {
            "type": "number"
          },
          "cancelled": {
            "type": "number"
          },
          "capacity": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "total",
          "confirmed",
          "waitlisted",
          "cancelled",
          "capacity"
        ]
      },
      "CheckinResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "eventId": {
            "type": "string"
          },
          "checkedInAt": {
            "type": "string"
          },
          "method": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "eventId",
          "checkedInAt",
          "method"
        ]
      },
      "GroupListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "urlname": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "link": {
            "type": "string",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "memberCount": {
            "type": "number",
            "nullable": true
          },
          "photoUrl": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "nullable": true
          },
          "socialLinks": {
            "nullable": true
          }
        },
        "required": [
          "id",
          "urlname",
          "name",
          "description",
          "link",
          "website",
          "memberCount",
          "photoUrl"
        ]
      },
      "GroupDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GroupListItem"
          },
          {
            "type": "object",
            "properties": {
              "upcomingEvents": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "startTime": {
                      "type": "string"
                    },
                    "eventUrl": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "title",
                    "startTime",
                    "eventUrl"
                  ]
                }
              }
            },
            "required": [
              "upcomingEvents"
            ]
          }
        ]
      },
      "FollowEntry": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "avatarUrl": {
            "type": "string",
            "nullable": true
          },
          "followedAt": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "username",
          "name",
          "avatarUrl",
          "followedAt"
        ]
      },
      "ClaimInfo": {
        "type": "object",
        "properties": {
          "badge": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "slug": {
                "type": "string"
              },
              "description": {
                "type": "string",
                "nullable": true
              },
              "icon": {
                "type": "string"
              },
              "color": {
                "type": "string",
                "nullable": true
              },
              "points": {
                "type": "number"
              }
            },
            "required": [
              "name",
              "slug",
              "description",
              "icon",
              "color",
              "points"
            ]
          },
          "group": {
            "type": "object",
            "nullable": true,
            "properties": {
              "name": {
                "type": "string"
              },
              "urlname": {
                "type": "string",
                "nullable": true
              },
              "photoUrl": {
                "type": "string",
                "nullable": true
              }
            },
            "required": [
              "name",
              "urlname",
              "photoUrl"
            ]
          },
          "claimable": {
            "type": "boolean"
          },
          "reason": {
            "type": "string"
          }
        },
        "required": [
          "badge",
          "group",
          "claimable"
        ]
      },
      "ClaimBadgeResponse": {
        "type": "object",
        "properties": {
          "badge": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "slug": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "slug"
            ]
          }
        },
        "required": [
          "badge"
        ]
      },
      "Scope": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "implies": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "name",
          "description",
          "implies"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/2026-01-25/events": {
      "get": {
        "summary": "Get all events",
        "description": "Returns a list of all upcoming events, optionally filtered by query parameters",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated list of group urlnames to filter (e.g., \"tampadevs,suncoast-js\")",
              "example": "tampadevs,suncoast-js"
            },
            "required": false,
            "name": "groups",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Exclude online events (set to \"1\" to exclude)",
              "example": "1"
            },
            "required": false,
            "name": "noonline",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Only show events within the next N hours",
              "example": "24"
            },
            "required": false,
            "name": "within_hours",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Only show events within the next N days",
              "example": "7"
            },
            "required": false,
            "name": "within_days",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Exclude groups with no events (set to \"1\" to exclude)",
              "example": "1"
            },
            "required": false,
            "name": "noempty",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "dateTime": {
                        "type": "string"
                      },
                      "duration": {
                        "type": "string"
                      },
                      "eventUrl": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "ACTIVE",
                          "CANCELLED",
                          "DRAFT"
                        ]
                      },
                      "eventType": {
                        "type": "string",
                        "enum": [
                          "PHYSICAL",
                          "ONLINE",
                          "HYBRID"
                        ]
                      },
                      "rsvpCount": {
                        "type": "number"
                      },
                      "venues": {
                        "type": "array",
                        "items": {
                          "nullable": true
                        }
                      },
                      "photo": {
                        "nullable": true
                      },
                      "group": {
                        "nullable": true
                      },
                      "address": {
                        "type": "string",
                        "nullable": true
                      },
                      "googleMapsUrl": {
                        "type": "string",
                        "nullable": true
                      },
                      "appleMapsUrl": {
                        "type": "string",
                        "nullable": true
                      },
                      "photoUrl": {
                        "type": "string",
                        "nullable": true
                      },
                      "isOnline": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "id",
                      "title",
                      "dateTime",
                      "eventUrl",
                      "status",
                      "rsvpCount",
                      "venues",
                      "isOnline"
                    ]
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable - no event data",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/2026-01-25/events/next": {
      "get": {
        "summary": "Get next event per group",
        "description": "Returns one upcoming event for each group (the next event)",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated list of group urlnames to filter (e.g., \"tampadevs,suncoast-js\")",
              "example": "tampadevs,suncoast-js"
            },
            "required": false,
            "name": "groups",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Exclude online events (set to \"1\" to exclude)",
              "example": "1"
            },
            "required": false,
            "name": "noonline",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Only show events within the next N hours",
              "example": "24"
            },
            "required": false,
            "name": "within_hours",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Only show events within the next N days",
              "example": "7"
            },
            "required": false,
            "name": "within_days",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Exclude groups with no events (set to \"1\" to exclude)",
              "example": "1"
            },
            "required": false,
            "name": "noempty",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Next event for each group",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "dateTime": {
                        "type": "string"
                      },
                      "duration": {
                        "type": "string"
                      },
                      "eventUrl": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "ACTIVE",
                          "CANCELLED",
                          "DRAFT"
                        ]
                      },
                      "eventType": {
                        "type": "string",
                        "enum": [
                          "PHYSICAL",
                          "ONLINE",
                          "HYBRID"
                        ]
                      },
                      "rsvpCount": {
                        "type": "number"
                      },
                      "venues": {
                        "type": "array",
                        "items": {
                          "nullable": true
                        }
                      },
                      "photo": {
                        "nullable": true
                      },
                      "group": {
                        "nullable": true
                      },
                      "address": {
                        "type": "string",
                        "nullable": true
                      },
                      "googleMapsUrl": {
                        "type": "string",
                        "nullable": true
                      },
                      "appleMapsUrl": {
                        "type": "string",
                        "nullable": true
                      },
                      "photoUrl": {
                        "type": "string",
                        "nullable": true
                      },
                      "isOnline": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "id",
                      "title",
                      "dateTime",
                      "eventUrl",
                      "status",
                      "rsvpCount",
                      "venues",
                      "isOnline"
                    ]
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable - no event data",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/2026-01-25/groups": {
      "get": {
        "summary": "Get all public groups",
        "description": "Returns a list of all groups displayed on the website",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Filter to only featured groups (set to \"1\" to filter)",
              "example": "1"
            },
            "required": false,
            "name": "featured",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter groups by tag",
              "example": "cloud"
            },
            "required": false,
            "name": "tag",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "urlname": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string",
                        "nullable": true
                      },
                      "link": {
                        "type": "string"
                      },
                      "website": {
                        "type": "string",
                        "nullable": true
                      },
                      "platform": {
                        "type": "string",
                        "enum": [
                          "meetup",
                          "eventbrite",
                          "luma"
                        ]
                      },
                      "memberCount": {
                        "type": "number",
                        "nullable": true
                      },
                      "photoUrl": {
                        "type": "string",
                        "nullable": true
                      },
                      "isFeatured": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "displayOnSite": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "tags": {
                        "type": "array",
                        "nullable": true,
                        "items": {
                          "type": "string"
                        }
                      },
                      "socialLinks": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                          "slack": {
                            "type": "string"
                          },
                          "discord": {
                            "type": "string"
                          },
                          "linkedin": {
                            "type": "string"
                          },
                          "twitter": {
                            "type": "string"
                          },
                          "github": {
                            "type": "string"
                          },
                          "meetup": {
                            "type": "string"
                          }
                        }
                      },
                      "favoritesCount": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "id",
                      "urlname",
                      "name",
                      "description",
                      "link",
                      "website",
                      "platform",
                      "memberCount",
                      "photoUrl",
                      "isFeatured",
                      "displayOnSite",
                      "tags",
                      "socialLinks"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/2026-01-25/groups/{slug}": {
      "get": {
        "summary": "Get a group by slug",
        "description": "Returns a single group by its URL slug",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The group URL slug (urlname)",
              "example": "tampadevs"
            },
            "required": true,
            "name": "slug",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Group details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "urlname": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "link": {
                      "type": "string"
                    },
                    "website": {
                      "type": "string",
                      "nullable": true
                    },
                    "platform": {
                      "type": "string",
                      "enum": [
                        "meetup",
                        "eventbrite",
                        "luma"
                      ]
                    },
                    "memberCount": {
                      "type": "number",
                      "nullable": true
                    },
                    "photoUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "isFeatured": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "displayOnSite": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "tags": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "string"
                      }
                    },
                    "socialLinks": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "slack": {
                          "type": "string"
                        },
                        "discord": {
                          "type": "string"
                        },
                        "linkedin": {
                          "type": "string"
                        },
                        "twitter": {
                          "type": "string"
                        },
                        "github": {
                          "type": "string"
                        },
                        "meetup": {
                          "type": "string"
                        }
                      }
                    },
                    "favoritesCount": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "id",
                    "urlname",
                    "name",
                    "description",
                    "link",
                    "website",
                    "platform",
                    "memberCount",
                    "photoUrl",
                    "isFeatured",
                    "displayOnSite",
                    "tags",
                    "socialLinks"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Group not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/2026-01-25/schemas": {
      "get": {
        "summary": "List all JSON schemas",
        "description": "Returns metadata about all available JSON schemas for the API models",
        "tags": [
          "Schemas"
        ],
        "responses": {
          "200": {
            "description": "List of available schemas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "schemas": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "title",
                          "description",
                          "url"
                        ]
                      }
                    },
                    "version": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "schemas",
                    "version"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/2026-01-25/schemas/{name}": {
      "get": {
        "summary": "Get specific JSON schema",
        "description": "Returns the JSON Schema for a specific model type",
        "tags": [
          "Schemas"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Schema name (event, group, venue, photo, meetup)",
              "example": "event"
            },
            "required": true,
            "name": "name",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON Schema",
            "content": {
              "application/schema+json": {
                "schema": {
                  "nullable": true
                }
              }
            }
          },
          "404": {
            "description": "Schema not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "available": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error",
                    "available"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/2026-01-25/rss": {
      "get": {
        "summary": "Get RSS feed",
        "description": "Returns events as an RSS 2.0 feed",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated list of group urlnames to filter (e.g., \"tampadevs,suncoast-js\")",
              "example": "tampadevs,suncoast-js"
            },
            "required": false,
            "name": "groups",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Exclude online events (set to \"1\" to exclude)",
              "example": "1"
            },
            "required": false,
            "name": "noonline",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Only show events within the next N hours",
              "example": "24"
            },
            "required": false,
            "name": "within_hours",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Only show events within the next N days",
              "example": "7"
            },
            "required": false,
            "name": "within_days",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Exclude groups with no events (set to \"1\" to exclude)",
              "example": "1"
            },
            "required": false,
            "name": "noempty",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "RSS feed",
            "content": {
              "application/rss+xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/2026-01-25/feed": {
      "get": {
        "summary": "Get RSS feed (alias)",
        "description": "Alias for /rss - returns events as an RSS 2.0 feed",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated list of group urlnames to filter (e.g., \"tampadevs,suncoast-js\")",
              "example": "tampadevs,suncoast-js"
            },
            "required": false,
            "name": "groups",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Exclude online events (set to \"1\" to exclude)",
              "example": "1"
            },
            "required": false,
            "name": "noonline",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Only show events within the next N hours",
              "example": "24"
            },
            "required": false,
            "name": "within_hours",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Only show events within the next N days",
              "example": "7"
            },
            "required": false,
            "name": "within_days",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Exclude groups with no events (set to \"1\" to exclude)",
              "example": "1"
            },
            "required": false,
            "name": "noempty",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "RSS feed",
            "content": {
              "application/rss+xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/2026-01-25/ics": {
      "get": {
        "summary": "Get iCalendar feed",
        "description": "Returns events as an iCalendar (.ics) feed",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated list of group urlnames to filter (e.g., \"tampadevs,suncoast-js\")",
              "example": "tampadevs,suncoast-js"
            },
            "required": false,
            "name": "groups",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Exclude online events (set to \"1\" to exclude)",
              "example": "1"
            },
            "required": false,
            "name": "noonline",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Only show events within the next N hours",
              "example": "24"
            },
            "required": false,
            "name": "within_hours",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Only show events within the next N days",
              "example": "7"
            },
            "required": false,
            "name": "within_days",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Exclude groups with no events (set to \"1\" to exclude)",
              "example": "1"
            },
            "required": false,
            "name": "noempty",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "iCalendar feed",
            "content": {
              "text/calendar": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/2026-01-25/ical": {
      "get": {
        "summary": "Get iCalendar feed (alias)",
        "description": "Alias for /ics - returns events as an iCalendar (.ics) feed",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated list of group urlnames to filter (e.g., \"tampadevs,suncoast-js\")",
              "example": "tampadevs,suncoast-js"
            },
            "required": false,
            "name": "groups",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Exclude online events (set to \"1\" to exclude)",
              "example": "1"
            },
            "required": false,
            "name": "noonline",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Only show events within the next N hours",
              "example": "24"
            },
            "required": false,
            "name": "within_hours",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Only show events within the next N days",
              "example": "7"
            },
            "required": false,
            "name": "within_days",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Exclude groups with no events (set to \"1\" to exclude)",
              "example": "1"
            },
            "required": false,
            "name": "noempty",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "iCalendar feed",
            "content": {
              "text/calendar": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/2026-01-25/webcal": {
      "get": {
        "summary": "Get webcal feed",
        "description": "Returns events as an iCalendar feed (same as /ics, for webcal:// protocol)",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated list of group urlnames to filter (e.g., \"tampadevs,suncoast-js\")",
              "example": "tampadevs,suncoast-js"
            },
            "required": false,
            "name": "groups",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Exclude online events (set to \"1\" to exclude)",
              "example": "1"
            },
            "required": false,
            "name": "noonline",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Only show events within the next N hours",
              "example": "24"
            },
            "required": false,
            "name": "within_hours",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Only show events within the next N days",
              "example": "7"
            },
            "required": false,
            "name": "within_days",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Exclude groups with no events (set to \"1\" to exclude)",
              "example": "1"
            },
            "required": false,
            "name": "noempty",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "iCalendar feed",
            "content": {
              "text/calendar": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/widget/next-event": {
      "get": {
        "summary": "Next event HTML widget",
        "description": "Returns an HTML widget showing the next upcoming event",
        "tags": [
          "Widgets"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated list of group URL names to filter by",
              "example": "tampadevs,suncoast-js"
            },
            "required": false,
            "name": "groups",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "HTML widget",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/widget/carousel": {
      "get": {
        "summary": "Carousel HTML widget",
        "description": "Returns an HTML carousel widget showing upcoming events",
        "tags": [
          "Widgets"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated list of group URL names to filter by",
              "example": "tampadevs,suncoast-js"
            },
            "required": false,
            "name": "groups",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "HTML carousel widget",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/html": {
      "get": {
        "summary": "HTML page with upcoming events",
        "description": "Returns a formatted HTML page displaying upcoming events",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated list of group urlnames to filter (e.g., \"tampadevs,suncoast-js\")",
              "example": "tampadevs,suncoast-js"
            },
            "required": false,
            "name": "groups",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Exclude online events (set to \"1\" to exclude)",
              "example": "1"
            },
            "required": false,
            "name": "noonline",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Only show events within the next N hours",
              "example": "24"
            },
            "required": false,
            "name": "within_hours",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Only show events within the next N days",
              "example": "7"
            },
            "required": false,
            "name": "within_days",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Exclude groups with no events (set to \"1\" to exclude)",
              "example": "1"
            },
            "required": false,
            "name": "noempty",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "HTML page",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/upcoming-events": {
      "get": {
        "summary": "Upcoming events HTML page",
        "description": "Alias for /html - returns a formatted HTML page displaying upcoming events",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated list of group urlnames to filter (e.g., \"tampadevs,suncoast-js\")",
              "example": "tampadevs,suncoast-js"
            },
            "required": false,
            "name": "groups",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Exclude online events (set to \"1\" to exclude)",
              "example": "1"
            },
            "required": false,
            "name": "noonline",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Only show events within the next N hours",
              "example": "24"
            },
            "required": false,
            "name": "within_hours",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Only show events within the next N days",
              "example": "7"
            },
            "required": false,
            "name": "within_days",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Exclude groups with no events (set to \"1\" to exclude)",
              "example": "1"
            },
            "required": false,
            "name": "noempty",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "HTML page",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "summary": "MCP JSON-RPC endpoint",
        "description": "Model Context Protocol (MCP) endpoint using Streamable HTTP transport (spec version `2025-03-26`). Accepts JSON-RPC 2.0 requests for MCP protocol methods. Supports batch requests (up to 10). Notifications (requests without `id`) return 204 No Content.\n\n**Supported methods:**\n- `initialize` — Capability negotiation and protocol version exchange\n- `tools/list` — List available tools (filtered by token scopes)\n- `tools/call` — Execute a tool with validated arguments\n- `resources/list` — List available resources\n- `resources/read` — Read a resource by URI\n- `resources/templates/list` — List URI templates for parameterized resources\n- `prompts/list` — List available prompt templates\n- `prompts/get` — Get a prompt template with arguments\n- `ping` — Health check\n\n**Headers:** Include `Mcp-Session-Id` to maintain session context (echoed back in response).",
        "tags": [
          "MCP"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "JSON-RPC 2.0 response (single `JsonRpcResponse` object or batch array). Per JSON-RPC 2.0, errors also return 200 with an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "description": "JSON-RPC 2.0 response — see JsonRpcResponse schema"
                }
              }
            }
          },
          "204": {
            "description": "No Content — notification processed (no response body)"
          },
          "400": {
            "description": "Bad Request — invalid Content-Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpError"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "MCP SSE endpoint (not supported)",
        "description": "Server-Sent Events endpoint for server-initiated messages. Not implemented — use `POST /mcp` for all MCP communication.",
        "tags": [
          "MCP"
        ],
        "responses": {
          "400": {
            "description": "Bad Request — SSE not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "MCP session termination",
        "description": "Terminates an MCP session. Sessions are stateless on the server side, so this is a no-op that always returns 204.",
        "tags": [
          "MCP"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "responses": {
          "204": {
            "description": "No Content — session terminated"
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "summary": "Get current user identity",
        "description": "Returns basic identity information for the authenticated user. Email is included only if the `user:email` scope is granted.",
        "tags": [
          "User"
        ],
        "security": [
          {
            "BearerToken": [
              "read:user"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Current user identity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UserBasic"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/profile": {
      "get": {
        "summary": "Get current user profile",
        "description": "Returns the full profile for the authenticated user including bio, social links, and settings.",
        "tags": [
          "User"
        ],
        "security": [
          {
            "BearerToken": [
              "read:user"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Full user profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UserProfile"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update current user profile",
        "description": "Updates the authenticated user's profile fields. Only provided fields are updated.",
        "tags": [
          "User"
        ],
        "security": [
          {
            "BearerToken": [
              "user"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated user profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UserProfile"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — duplicate or state conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me/linked-accounts": {
      "get": {
        "summary": "List linked OAuth accounts",
        "description": "Returns the OAuth providers (GitHub, Discord, etc.) connected to the authenticated user's account.",
        "tags": [
          "User"
        ],
        "security": [
          {
            "BearerToken": [
              "read:user"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Linked OAuth accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LinkedAccount"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/profile/portfolio": {
      "get": {
        "summary": "List portfolio items",
        "description": "Returns all portfolio items for the authenticated user, ordered by sort order.",
        "tags": [
          "User"
        ],
        "security": [
          {
            "BearerToken": [
              "read:portfolio"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Portfolio items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PortfolioItem"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create portfolio item",
        "description": "Adds a new portfolio item to the authenticated user's profile.",
        "tags": [
          "User"
        ],
        "security": [
          {
            "BearerToken": [
              "write:portfolio"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortfolioItemRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created portfolio item",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PortfolioItem"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/profile/portfolio/{id}": {
      "patch": {
        "summary": "Update portfolio item",
        "description": "Updates an existing portfolio item. Only provided fields are changed.",
        "tags": [
          "User"
        ],
        "security": [
          {
            "BearerToken": [
              "write:portfolio"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Portfolio item ID"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortfolioItemUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated portfolio item",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PortfolioItem"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete portfolio item",
        "description": "Permanently removes a portfolio item from the authenticated user's profile.",
        "tags": [
          "User"
        ],
        "security": [
          {
            "BearerToken": [
              "write:portfolio"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Portfolio item ID"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Portfolio item deleted"
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/profile/achievements": {
      "get": {
        "summary": "Get achievement progress",
        "description": "Returns all achievements with the authenticated user's progress toward each.",
        "tags": [
          "User"
        ],
        "security": [
          {
            "BearerToken": [
              "read:user"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Achievement progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AchievementProgress"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/profile/tokens": {
      "get": {
        "summary": "List personal access tokens",
        "description": "Returns all personal access tokens for the authenticated user. Token values are not included.",
        "tags": [
          "User"
        ],
        "security": [
          {
            "BearerToken": [
              "user"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Personal access tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Token"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create personal access token",
        "description": "Creates a new personal access token. The full token value is returned only once in the response -- store it securely.",
        "tags": [
          "User"
        ],
        "security": [
          {
            "BearerToken": [
              "user"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTokenRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created token with full value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TokenCreated"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/profile/tokens/{id}": {
      "delete": {
        "summary": "Revoke personal access token",
        "description": "Permanently revokes a personal access token. The token can no longer be used for authentication.",
        "tags": [
          "User"
        ],
        "security": [
          {
            "BearerToken": [
              "user"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Token ID"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Token revoked"
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events": {
      "get": {
        "summary": "List upcoming events",
        "description": "Returns a paginated list of upcoming events across all groups, ordered by start time.",
        "tags": [
          "Events"
        ],
        "security": [
          {
            "BearerToken": [
              "read:events"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "description": "Maximum number of items to return (1-100)",
              "example": 20
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "nullable": true,
              "minimum": 0,
              "default": 0,
              "description": "Number of items to skip",
              "example": 0
            },
            "required": false,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Upcoming events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EventListItem"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events/{eventId}/rsvp": {
      "get": {
        "summary": "Get RSVP status",
        "description": "Returns the authenticated user's RSVP status for the specified event.",
        "tags": [
          "Events"
        ],
        "security": [
          {
            "BearerToken": [
              "read:events"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Event ID"
            },
            "required": true,
            "name": "eventId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "RSVP status (null if not RSVPed)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/RsvpStatusResponse"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "RSVP to event",
        "description": "Creates an RSVP for the authenticated user. If the event is at capacity, the user is placed on the waitlist.",
        "tags": [
          "Events"
        ],
        "security": [
          {
            "BearerToken": [
              "write:events"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Event ID"
            },
            "required": true,
            "name": "eventId",
            "in": "path"
          }
        ],
        "responses": {
          "201": {
            "description": "RSVP created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Rsvp"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — duplicate or state conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancel RSVP",
        "description": "Cancels the authenticated user's RSVP. If a waitlisted user exists, they are automatically promoted.",
        "tags": [
          "Events"
        ],
        "security": [
          {
            "BearerToken": [
              "write:events"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Event ID"
            },
            "required": true,
            "name": "eventId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "RSVP cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      },
                      "required": [
                        "success"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events/{eventId}/rsvp-summary": {
      "get": {
        "summary": "Get RSVP summary",
        "description": "Returns aggregate RSVP counts (confirmed, waitlisted, cancelled) for the specified event.",
        "tags": [
          "Events"
        ],
        "security": [
          {
            "BearerToken": [
              "read:events"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Event ID"
            },
            "required": true,
            "name": "eventId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "RSVP summary counts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/RsvpSummary"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkin/{code}": {
      "post": {
        "summary": "Check in to event",
        "description": "Self check-in using a check-in code. Optionally specify the check-in method (link, qr, nfc).",
        "tags": [
          "Events"
        ],
        "security": [
          {
            "BearerToken": [
              "write:events"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Check-in code"
            },
            "required": true,
            "name": "code",
            "in": "path"
          }
        ],
        "responses": {
          "201": {
            "description": "Check-in recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CheckinResult"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — resource does not exist",
            "content": {
[...]
