=begin
#Tampa.dev Platform API

#The Tampa.dev Platform API provides authenticated access to community data including user profiles, events, groups, badges, and more. Authenticate with Personal Access Tokens (PATs) or OAuth 2.0 bearer tokens. All authenticated endpoints are under `/v1/`.

The version of the OpenAPI document: 2026-01-25

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module TampaEventsAPI
  class ClaimsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get badge claim info
    # Returns information about a badge claim link. No authentication required.
    # @param code [String] 
    # @param [Hash] opts the optional parameters
    # @return [VV1ClaimCodeGet200Response]
    def v1_claim_code_get(code, opts = {})
      data, _status_code, _headers = v1_claim_code_get_with_http_info(code, opts)
      data
    end

    # Get badge claim info
    # Returns information about a badge claim link. No authentication required.
    # @param code [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VV1ClaimCodeGet200Response, Integer, Hash)>] VV1ClaimCodeGet200Response data, response status code and response headers
    def v1_claim_code_get_with_http_info(code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimsApi.v1_claim_code_get ...'
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling ClaimsApi.v1_claim_code_get"
      end
      # resource path
      local_var_path = '/v1/claim/{code}'.sub('{' + 'code' + '}', CGI.escape(code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VV1ClaimCodeGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ClaimsApi.v1_claim_code_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimsApi#v1_claim_code_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Claim a badge
    # Claims a badge using a claim link code. Requires authentication.
    # @param code [String] 
    # @param [Hash] opts the optional parameters
    # @return [VV1ClaimCodePost201Response]
    def v1_claim_code_post(code, opts = {})
      data, _status_code, _headers = v1_claim_code_post_with_http_info(code, opts)
      data
    end

    # Claim a badge
    # Claims a badge using a claim link code. Requires authentication.
    # @param code [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VV1ClaimCodePost201Response, Integer, Hash)>] VV1ClaimCodePost201Response data, response status code and response headers
    def v1_claim_code_post_with_http_info(code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClaimsApi.v1_claim_code_post ...'
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling ClaimsApi.v1_claim_code_post"
      end
      # resource path
      local_var_path = '/v1/claim/{code}'.sub('{' + 'code' + '}', CGI.escape(code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VV1ClaimCodePost201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerToken']

      new_options = opts.merge(
        :operation => :"ClaimsApi.v1_claim_code_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClaimsApi#v1_claim_code_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
