=begin
#Tampa.dev Platform API

#The Tampa.dev Platform API provides authenticated access to community data including user profiles, events, groups, badges, and more. Authenticate with Personal Access Tokens (PATs) or OAuth 2.0 bearer tokens. All authenticated endpoints are under `/v1/`.

The version of the OpenAPI document: 2026-01-25

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module TampaEventsAPI
  class FollowsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Unfollow user
    # Unfollows the specified user.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_users_username_follow_delete(username, opts = {})
      v1_users_username_follow_delete_with_http_info(username, opts)
      nil
    end

    # Unfollow user
    # Unfollows the specified user.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_users_username_follow_delete_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FollowsApi.v1_users_username_follow_delete ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling FollowsApi.v1_users_username_follow_delete"
      end
      # resource path
      local_var_path = '/v1/users/{username}/follow'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerToken']

      new_options = opts.merge(
        :operation => :"FollowsApi.v1_users_username_follow_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FollowsApi#v1_users_username_follow_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Follow user
    # Follows the specified user. Returns 200 if already following.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [VV1UsersUsernameFollowPost200Response]
    def v1_users_username_follow_post(username, opts = {})
      data, _status_code, _headers = v1_users_username_follow_post_with_http_info(username, opts)
      data
    end

    # Follow user
    # Follows the specified user. Returns 200 if already following.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VV1UsersUsernameFollowPost200Response, Integer, Hash)>] VV1UsersUsernameFollowPost200Response data, response status code and response headers
    def v1_users_username_follow_post_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FollowsApi.v1_users_username_follow_post ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling FollowsApi.v1_users_username_follow_post"
      end
      # resource path
      local_var_path = '/v1/users/{username}/follow'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VV1UsersUsernameFollowPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerToken']

      new_options = opts.merge(
        :operation => :"FollowsApi.v1_users_username_follow_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FollowsApi#v1_users_username_follow_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List followers
    # Returns a paginated list of users following the specified user.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :limit  (default to 20)
    # @option opts [Float] :offset  (default to 0)
    # @return [VV1UsersUsernameFollowersGet200Response]
    def v1_users_username_followers_get(username, opts = {})
      data, _status_code, _headers = v1_users_username_followers_get_with_http_info(username, opts)
      data
    end

    # List followers
    # Returns a paginated list of users following the specified user.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :limit  (default to 20)
    # @option opts [Float] :offset  (default to 0)
    # @return [Array<(VV1UsersUsernameFollowersGet200Response, Integer, Hash)>] VV1UsersUsernameFollowersGet200Response data, response status code and response headers
    def v1_users_username_followers_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FollowsApi.v1_users_username_followers_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling FollowsApi.v1_users_username_followers_get"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling FollowsApi.v1_users_username_followers_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling FollowsApi.v1_users_username_followers_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling FollowsApi.v1_users_username_followers_get, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/users/{username}/followers'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VV1UsersUsernameFollowersGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerToken']

      new_options = opts.merge(
        :operation => :"FollowsApi.v1_users_username_followers_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FollowsApi#v1_users_username_followers_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List following
    # Returns a paginated list of users the specified user is following.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :limit  (default to 20)
    # @option opts [Float] :offset  (default to 0)
    # @return [VV1UsersUsernameFollowersGet200Response]
    def v1_users_username_following_get(username, opts = {})
      data, _status_code, _headers = v1_users_username_following_get_with_http_info(username, opts)
      data
    end

    # List following
    # Returns a paginated list of users the specified user is following.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :limit  (default to 20)
    # @option opts [Float] :offset  (default to 0)
    # @return [Array<(VV1UsersUsernameFollowersGet200Response, Integer, Hash)>] VV1UsersUsernameFollowersGet200Response data, response status code and response headers
    def v1_users_username_following_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FollowsApi.v1_users_username_following_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling FollowsApi.v1_users_username_following_get"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling FollowsApi.v1_users_username_following_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling FollowsApi.v1_users_username_following_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling FollowsApi.v1_users_username_following_get, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/users/{username}/following'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VV1UsersUsernameFollowersGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerToken']

      new_options = opts.merge(
        :operation => :"FollowsApi.v1_users_username_following_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FollowsApi#v1_users_username_following_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
