=begin
#Tampa.dev Platform API

#The Tampa.dev Platform API provides authenticated access to community data including user profiles, events, groups, badges, and more. Authenticate with Personal Access Tokens (PATs) or OAuth 2.0 bearer tokens. All authenticated endpoints are under `/v1/`.

The version of the OpenAPI document: 2026-01-25

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module TampaEventsAPI
  class UserApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get current user identity
    # Returns basic identity information for the authenticated user. Email is included only if the `user:email` scope is granted.
    # @param [Hash] opts the optional parameters
    # @return [VV1MeGet200Response]
    def v1_me_get(opts = {})
      data, _status_code, _headers = v1_me_get_with_http_info(opts)
      data
    end

    # Get current user identity
    # Returns basic identity information for the authenticated user. Email is included only if the &#x60;user:email&#x60; scope is granted.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VV1MeGet200Response, Integer, Hash)>] VV1MeGet200Response data, response status code and response headers
    def v1_me_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.v1_me_get ...'
      end
      # resource path
      local_var_path = '/v1/me'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VV1MeGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerToken']

      new_options = opts.merge(
        :operation => :"UserApi.v1_me_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#v1_me_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List linked OAuth accounts
    # Returns the OAuth providers (GitHub, Discord, etc.) connected to the authenticated user's account.
    # @param [Hash] opts the optional parameters
    # @return [VV1MeLinkedAccountsGet200Response]
    def v1_me_linked_accounts_get(opts = {})
      data, _status_code, _headers = v1_me_linked_accounts_get_with_http_info(opts)
      data
    end

    # List linked OAuth accounts
    # Returns the OAuth providers (GitHub, Discord, etc.) connected to the authenticated user&#39;s account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VV1MeLinkedAccountsGet200Response, Integer, Hash)>] VV1MeLinkedAccountsGet200Response data, response status code and response headers
    def v1_me_linked_accounts_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.v1_me_linked_accounts_get ...'
      end
      # resource path
      local_var_path = '/v1/me/linked-accounts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VV1MeLinkedAccountsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerToken']

      new_options = opts.merge(
        :operation => :"UserApi.v1_me_linked_accounts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#v1_me_linked_accounts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get achievement progress
    # Returns all achievements with the authenticated user's progress toward each.
    # @param [Hash] opts the optional parameters
    # @return [VV1ProfileAchievementsGet200Response]
    def v1_profile_achievements_get(opts = {})
      data, _status_code, _headers = v1_profile_achievements_get_with_http_info(opts)
      data
    end

    # Get achievement progress
    # Returns all achievements with the authenticated user&#39;s progress toward each.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VV1ProfileAchievementsGet200Response, Integer, Hash)>] VV1ProfileAchievementsGet200Response data, response status code and response headers
    def v1_profile_achievements_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.v1_profile_achievements_get ...'
      end
      # resource path
      local_var_path = '/v1/profile/achievements'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VV1ProfileAchievementsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerToken']

      new_options = opts.merge(
        :operation => :"UserApi.v1_profile_achievements_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#v1_profile_achievements_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get current user profile
    # Returns the full profile for the authenticated user including bio, social links, and settings.
    # @param [Hash] opts the optional parameters
    # @return [VV1ProfileGet200Response]
    def v1_profile_get(opts = {})
      data, _status_code, _headers = v1_profile_get_with_http_info(opts)
      data
    end

    # Get current user profile
    # Returns the full profile for the authenticated user including bio, social links, and settings.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VV1ProfileGet200Response, Integer, Hash)>] VV1ProfileGet200Response data, response status code and response headers
    def v1_profile_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.v1_profile_get ...'
      end
      # resource path
      local_var_path = '/v1/profile'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VV1ProfileGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerToken']

      new_options = opts.merge(
        :operation => :"UserApi.v1_profile_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#v1_profile_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update current user profile
    # Updates the authenticated user's profile fields. Only provided fields are updated.
    # @param [Hash] opts the optional parameters
    # @option opts [VUpdateProfileRequest] :v_update_profile_request 
    # @return [VV1ProfileGet200Response]
    def v1_profile_patch(opts = {})
      data, _status_code, _headers = v1_profile_patch_with_http_info(opts)
      data
    end

    # Update current user profile
    # Updates the authenticated user&#39;s profile fields. Only provided fields are updated.
    # @param [Hash] opts the optional parameters
    # @option opts [VUpdateProfileRequest] :v_update_profile_request 
    # @return [Array<(VV1ProfileGet200Response, Integer, Hash)>] VV1ProfileGet200Response data, response status code and response headers
    def v1_profile_patch_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.v1_profile_patch ...'
      end
      # resource path
      local_var_path = '/v1/profile'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'v_update_profile_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'VV1ProfileGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerToken']

      new_options = opts.merge(
        :operation => :"UserApi.v1_profile_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#v1_profile_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List portfolio items
    # Returns all portfolio items for the authenticated user, ordered by sort order.
    # @param [Hash] opts the optional parameters
    # @return [VV1ProfilePortfolioGet200Response]
    def v1_profile_portfolio_get(opts = {})
      data, _status_code, _headers = v1_profile_portfolio_get_with_http_info(opts)
      data
    end

    # List portfolio items
    # Returns all portfolio items for the authenticated user, ordered by sort order.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VV1ProfilePortfolioGet200Response, Integer, Hash)>] VV1ProfilePortfolioGet200Response data, response status code and response headers
    def v1_profile_portfolio_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.v1_profile_portfolio_get ...'
      end
      # resource path
      local_var_path = '/v1/profile/portfolio'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VV1ProfilePortfolioGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerToken']

      new_options = opts.merge(
        :operation => :"UserApi.v1_profile_portfolio_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#v1_profile_portfolio_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete portfolio item
    # Permanently removes a portfolio item from the authenticated user's profile.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_profile_portfolio_id_delete(id, opts = {})
      v1_profile_portfolio_id_delete_with_http_info(id, opts)
      nil
    end

    # Delete portfolio item
    # Permanently removes a portfolio item from the authenticated user&#39;s profile.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_profile_portfolio_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.v1_profile_portfolio_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UserApi.v1_profile_portfolio_id_delete"
      end
      # resource path
      local_var_path = '/v1/profile/portfolio/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerToken']

      new_options = opts.merge(
        :operation => :"UserApi.v1_profile_portfolio_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#v1_profile_portfolio_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update portfolio item
    # Updates an existing portfolio item. Only provided fields are changed.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [VPortfolioItemUpdateRequest] :v_portfolio_item_update_request 
    # @return [VV1ProfilePortfolioPost201Response]
    def v1_profile_portfolio_id_patch(id, opts = {})
      data, _status_code, _headers = v1_profile_portfolio_id_patch_with_http_info(id, opts)
      data
    end

    # Update portfolio item
    # Updates an existing portfolio item. Only provided fields are changed.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [VPortfolioItemUpdateRequest] :v_portfolio_item_update_request 
    # @return [Array<(VV1ProfilePortfolioPost201Response, Integer, Hash)>] VV1ProfilePortfolioPost201Response data, response status code and response headers
    def v1_profile_portfolio_id_patch_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.v1_profile_portfolio_id_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UserApi.v1_profile_portfolio_id_patch"
      end
      # resource path
      local_var_path = '/v1/profile/portfolio/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'v_portfolio_item_update_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'VV1ProfilePortfolioPost201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerToken']

      new_options = opts.merge(
        :operation => :"UserApi.v1_profile_portfolio_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#v1_profile_portfolio_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create portfolio item
    # Adds a new portfolio item to the authenticated user's profile.
    # @param [Hash] opts the optional parameters
    # @option opts [VPortfolioItemRequest] :v_portfolio_item_request 
    # @return [VV1ProfilePortfolioPost201Response]
    def v1_profile_portfolio_post(opts = {})
      data, _status_code, _headers = v1_profile_portfolio_post_with_http_info(opts)
      data
    end

    # Create portfolio item
    # Adds a new portfolio item to the authenticated user&#39;s profile.
    # @param [Hash] opts the optional parameters
    # @option opts [VPortfolioItemRequest] :v_portfolio_item_request 
    # @return [Array<(VV1ProfilePortfolioPost201Response, Integer, Hash)>] VV1ProfilePortfolioPost201Response data, response status code and response headers
    def v1_profile_portfolio_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.v1_profile_portfolio_post ...'
      end
      # resource path
      local_var_path = '/v1/profile/portfolio'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'v_portfolio_item_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'VV1ProfilePortfolioPost201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerToken']

      new_options = opts.merge(
        :operation => :"UserApi.v1_profile_portfolio_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#v1_profile_portfolio_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List personal access tokens
    # Returns all personal access tokens for the authenticated user. Token values are not included.
    # @param [Hash] opts the optional parameters
    # @return [VV1ProfileTokensGet200Response]
    def v1_profile_tokens_get(opts = {})
      data, _status_code, _headers = v1_profile_tokens_get_with_http_info(opts)
      data
    end

    # List personal access tokens
    # Returns all personal access tokens for the authenticated user. Token values are not included.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VV1ProfileTokensGet200Response, Integer, Hash)>] VV1ProfileTokensGet200Response data, response status code and response headers
    def v1_profile_tokens_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.v1_profile_tokens_get ...'
      end
      # resource path
      local_var_path = '/v1/profile/tokens'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VV1ProfileTokensGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerToken']

      new_options = opts.merge(
        :operation => :"UserApi.v1_profile_tokens_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#v1_profile_tokens_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke personal access token
    # Permanently revokes a personal access token. The token can no longer be used for authentication.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_profile_tokens_id_delete(id, opts = {})
      v1_profile_tokens_id_delete_with_http_info(id, opts)
      nil
    end

    # Revoke personal access token
    # Permanently revokes a personal access token. The token can no longer be used for authentication.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_profile_tokens_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.v1_profile_tokens_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UserApi.v1_profile_tokens_id_delete"
      end
      # resource path
      local_var_path = '/v1/profile/tokens/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerToken']

      new_options = opts.merge(
        :operation => :"UserApi.v1_profile_tokens_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#v1_profile_tokens_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create personal access token
    # Creates a new personal access token. The full token value is returned only once in the response -- store it securely.
    # @param [Hash] opts the optional parameters
    # @option opts [VCreateTokenRequest] :v_create_token_request 
    # @return [VV1ProfileTokensPost201Response]
    def v1_profile_tokens_post(opts = {})
      data, _status_code, _headers = v1_profile_tokens_post_with_http_info(opts)
      data
    end

    # Create personal access token
    # Creates a new personal access token. The full token value is returned only once in the response -- store it securely.
    # @param [Hash] opts the optional parameters
    # @option opts [VCreateTokenRequest] :v_create_token_request 
    # @return [Array<(VV1ProfileTokensPost201Response, Integer, Hash)>] VV1ProfileTokensPost201Response data, response status code and response headers
    def v1_profile_tokens_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.v1_profile_tokens_post ...'
      end
      # resource path
      local_var_path = '/v1/profile/tokens'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'v_create_token_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'VV1ProfileTokensPost201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerToken']

      new_options = opts.merge(
        :operation => :"UserApi.v1_profile_tokens_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#v1_profile_tokens_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
