=begin
#Tampa.dev Platform API

#The Tampa.dev Platform API provides authenticated access to community data including user profiles, events, groups, badges, and more. Authenticate with Personal Access Tokens (PATs) or OAuth 2.0 bearer tokens. All authenticated endpoints are under `/v1/`.

The version of the OpenAPI document: 2026-01-25

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module TampaEventsAPI
  class WidgetsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Carousel HTML widget
    # Returns an HTML carousel widget showing upcoming events
    # @param [Hash] opts the optional parameters
    # @option opts [String] :groups 
    # @return [String]
    def widget_carousel_get(opts = {})
      data, _status_code, _headers = widget_carousel_get_with_http_info(opts)
      data
    end

    # Carousel HTML widget
    # Returns an HTML carousel widget showing upcoming events
    # @param [Hash] opts the optional parameters
    # @option opts [String] :groups 
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def widget_carousel_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WidgetsApi.widget_carousel_get ...'
      end
      # resource path
      local_var_path = '/widget/carousel'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'groups'] = opts[:'groups'] if !opts[:'groups'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/html']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerToken']

      new_options = opts.merge(
        :operation => :"WidgetsApi.widget_carousel_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WidgetsApi#widget_carousel_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Next event HTML widget
    # Returns an HTML widget showing the next upcoming event
    # @param [Hash] opts the optional parameters
    # @option opts [String] :groups 
    # @return [String]
    def widget_next_event_get(opts = {})
      data, _status_code, _headers = widget_next_event_get_with_http_info(opts)
      data
    end

    # Next event HTML widget
    # Returns an HTML widget showing the next upcoming event
    # @param [Hash] opts the optional parameters
    # @option opts [String] :groups 
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def widget_next_event_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WidgetsApi.widget_next_event_get ...'
      end
      # resource path
      local_var_path = '/widget/next-event'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'groups'] = opts[:'groups'] if !opts[:'groups'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/html']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerToken']

      new_options = opts.merge(
        :operation => :"WidgetsApi.widget_next_event_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WidgetsApi#widget_next_event_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
